title: Practice Golang for Beginners
description: 8-Week Structured Go Mentorship Roadmap
author: Aditya Pratap Bhuyan
theme: minima

markdown: kramdown
highlighter: rouge

permalink: pretty

plugins:
  - jekyll-feed
